
html {
     overflow-y: -moz-scrollbars-vertical;
     overflow-y: scroll;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    margin-left: -150px;
}

.ng-cloak {
    display: none;
}

div.appAlerts {
    position: fixed;
    top: 60px;
    right: 20px;
    z-index: 1200;
    width: 90%;
    max-width: 300px;
}

.animate > div.ng-enter,
.animate > div.ng-leave
{
    -webkit-transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
}

.animate > div.ng-enter.ng-enter-active,
.animate > div.ng-leave {
    opacity: 1;
}

.animate > div.ng-leave.ng-leave-active,
.animate > div.ng-enter {
    opacity: 0;
}

.success {
	color: green;
}
.disc {
	color: #f0ad4e;
}

.error {
	color: red;
}


.info {
	color: blue;
}

.hidden {
	display: none;
}

.fixed_table {
	table-layout: fixed;
	word-wrap: break-word;
}

.deleteCommand { 
	cursor: pointer;
	display: inline-block;
}

.readonly_item {
	cursor: default !important;
}

.group_error {
    background-color: rgb(245, 217, 217);
}

.command_parameter {
	background-color: #F8FAFD;
	padding: 5px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	margin-top: 10px;
}

td, th {
  vertical-align: middle !important;
  text-align: center !important;
}

td.editable input{
  height: 28px;                 /* Makes it the same height as the tag selector. */
}

/* This stops the tooltips in the sidebar inheriting the font characteristics from the headings (small, grey, all caps). */
div.sidebar-nav div.popover {
 color: #000000;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  text-transform: none;
  font-size: 14px;
  font-weight: normal;
}

.project-status-progress {
    display:inline-block;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom:0px !important;
    padding: 0px !important;
}

/* This cuts off text where it is too wide for its container. */
.fade_me {
  overflow: hidden;
  white-space: nowrap;
}

/* This applies a gradient fade over the to-wide text. */
.fade_me:before {
  background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
  background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr='#00ffffff', endColorstr='#ffffff')"; /* For Internet Explorer 8 */
  bottom: 0;
  content: " ";
  display: block;
  left: 80%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}

/* States (i.e., classes) that the <a> can have:
    
    * [normal]  (white: rgb(255, 255, 255), #F5F5F5 rgb(245, 245, 245) on hover)
    * list-group-item-info  (light blue: rgb(217, 237, 247), #c4e3f3 on hover)
    * list-group-item-danger (pink: rgb(242, 222, 222), #ebcccc on hover rgb(235, 204, 204)))

   And each of these has a hover state that changes the color...

*/

/* The following rules are just for the tags panel and its multiple colors. */

/* This applies a GREY fade over the too-wide text on hover */
.list-group-item:hover .fade_me:before {
  background: -moz-linear-gradient(left, rgba(245, 245, 245,0) 0%, rgb(245, 245, 245) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(245, 245, 245,0)), color-stop(100%,rgba(245, 245, 245,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(245, 245, 245,0) 0%,rgba(245, 245, 245,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(245, 245, 245,0) 0%,rgba(245, 245, 245,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(245, 245, 245,0) 0%,rgba(245, 245, 245,1) 100%); /* IE10+ */
  background: linear-gradient(to right, rgba(245, 245, 245,0) 0%,rgba(245, 245, 245,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f5f5f5', endColorstr='#f5f5f5',GradientType=1 ); /* IE6-9 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr='#00f5f5f5', endColorstr='#f5f5f5')"; /* For Internet Explorer 8 */
  bottom: 0;
  content: " ";
  display: block;
  left: 80%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}

/* This applies a GREY fade over the too-wide text on hover when it has focus (grey gbackground) */
.list-group-item:focus .fade_me:before {
  background: -moz-linear-gradient(left, rgba(245, 245, 245,0) 0%, rgb(245, 245, 245) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(245, 245, 245,0)), color-stop(100%,rgba(245, 245, 245,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(245, 245, 245,0) 0%,rgba(245, 245, 245,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(245, 245, 245,0) 0%,rgba(245, 245, 245,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(245, 245, 245,0) 0%,rgba(245, 245, 245,1) 100%); /* IE10+ */
  background: linear-gradient(to right, rgba(245, 245, 245,0) 0%,rgba(245, 245, 245,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f5f5f5', endColorstr='#f5f5f5',GradientType=1 ); /* IE6-9 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr='#00f5f5f5', endColorstr='#f5f5f5')"; /* For Internet Explorer 8 */
  bottom: 0;
  content: " ";
  display: block;
  left: 80%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}

/* This applies a BLUE fade over the too-wide text when its parent <a> has the active state */
.list-group-item-info .fade_me:before {
  background: -moz-linear-gradient(left, rgba(217, 237, 247,0) 0%, rgb(217, 237, 247) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(217, 237, 247,0)), color-stop(100%,rgba(217, 237, 247,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(217, 237, 247,0) 0%,rgba(217, 237, 247,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(217, 237, 247,0) 0%,rgba(217, 237, 247,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(217, 237, 247,0) 0%,rgba(217, 237, 247,1) 100%); /* IE10+ */
  background: linear-gradient(to right, rgba(217, 237, 247,0) 0%,rgba(217, 237, 247,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00d9edf7', endColorstr='#d9edf7',GradientType=1 ); /* IE6-9 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr='#00d9edf7', endColorstr='#d9edf7')"; /* For Internet Explorer 8 */
  bottom: 0;
  content: " ";
  display: block;
  left: 80%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}

/* This applies a slightly darker BLUE fade over the too-wide text when its parent <a> has the active state AND hover is in effect */
.list-group-item-info:hover .fade_me:before {
  background: -moz-linear-gradient(left, rgba(196, 227, 243,0) 0%, rgb(196, 227, 243) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(196, 227, 243,0)), color-stop(100%,rgba(196, 227, 243,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(196, 227, 243,0) 0%,rgba(196, 227, 243,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(196, 227, 243,0) 0%,rgba(196, 227, 243,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(196, 227, 243,0) 0%,rgba(196, 227, 243,1) 100%); /* IE10+ */
  background: linear-gradient(to right, rgba(196, 227, 243,0) 0%,rgba(196, 227, 243,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c4e3f3', endColorstr='#c4e3f3',GradientType=1 ); /* IE6-9 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr='#00c4e3f3', endColorstr='#c4e3f3')"; /* For Internet Explorer 8 */
  bottom: 0;
  content: " ";
  display: block;
  left: 80%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}

/* This applies a slightly darker BLUE fade over the too-wide text when its parent <a> has the active state AND focus is in effect */
.list-group-item-info:focus .fade_me:before {
  background: -moz-linear-gradient(left, rgba(196, 227, 243,0) 0%, rgb(196, 227, 243) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(196, 227, 243,0)), color-stop(100%,rgba(196, 227, 243,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(196, 227, 243,0) 0%,rgba(196, 227, 243,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(196, 227, 243,0) 0%,rgba(196, 227, 243,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(196, 227, 243,0) 0%,rgba(196, 227, 243,1) 100%); /* IE10+ */
  background: linear-gradient(to right, rgba(196, 227, 243,0) 0%,rgba(196, 227, 243,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c4e3f3', endColorstr='#c4e3f3',GradientType=1 ); /* IE6-9 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr='#00c4e3f3', endColorstr='#c4e3f3')"; /* For Internet Explorer 8 */
  bottom: 0;
  content: " ";
  display: block;
  left: 80%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}

/* This applies a PINK fade over the too-wide text when its parent <a> has the danger state */
.list-group-item-danger .fade_me:before {
  background: -moz-linear-gradient(left, rgba(242, 222, 222,0) 0%, rgb(242, 222, 222) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(242, 222, 222,0)), color-stop(100%,rgba(242, 222, 222,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(242, 222, 222,0) 0%,rgba(242, 222, 222,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(242, 222, 222,0) 0%,rgba(242, 222, 222,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(242, 222, 222,0) 0%,rgba(242, 222, 222,1) 100%); /* IE10+ */
  background: linear-gradient(to right, rgba(242, 222, 222,0) 0%,rgba(242, 222, 222,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f2dede', endColorstr='#f2dede',GradientType=1 ); /* IE6-9 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr='#00f2dede', endColorstr='#f2dede')"; /* For Internet Explorer 8 */
  bottom: 0;
  content: " ";
  display: block;
  left: 80%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}

/* This applies a slightly darker PINK fade over the too-wide text when its parent <a> has the danger state AND hover is in effect */
.list-group-item-danger:hover .fade_me:before {
  background: -moz-linear-gradient(left, rgba(235, 204, 204,0) 0%, rgb(235, 204, 204) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(235, 204, 204,0)), color-stop(100%,rgba(235, 204, 204,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(235, 204, 204,0) 0%,rgba(235, 204, 204,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(235, 204, 204,0) 0%,rgba(235, 204, 204,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(235, 204, 204,0) 0%,rgba(235, 204, 204,1) 100%); /* IE10+ */
  background: linear-gradient(to right, rgba(235, 204, 204,0) 0%,rgba(235, 204, 204,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ebcccc', endColorstr='#ebcccc',GradientType=1 ); /* IE6-9 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr='#00ebcccc', endColorstr='#ebcccc')"; /* For Internet Explorer 8 */
  bottom: 0;
  content: " ";
  display: block;
  left: 80%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}

/* This applies a slightly darker PINK fade over the too-wide text when its parent <a> has the danger state AND focus is in effect */
.list-group-item-danger:focus .fade_me:before {
  background: -moz-linear-gradient(left, rgba(235, 204, 204,0) 0%, rgb(235, 204, 204) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(235, 204, 204,0)), color-stop(100%,rgba(235, 204, 204,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(235, 204, 204,0) 0%,rgba(235, 204, 204,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(235, 204, 204,0) 0%,rgba(235, 204, 204,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(235, 204, 204,0) 0%,rgba(235, 204, 204,1) 100%); /* IE10+ */
  background: linear-gradient(to right, rgba(235, 204, 204,0) 0%,rgba(235, 204, 204,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ebcccc', endColorstr='#ebcccc',GradientType=1 ); /* IE6-9 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr='#00ebcccc', endColorstr='#ebcccc')"; /* For Internet Explorer 8 */
  bottom: 0;
  content: " ";
  display: block;
  left: 80%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}

.codeine_help {
	opacity: 0.25;
}

.codeine_help_content {
    font-weight: normal !important;
}

/* Makes the help icons line up with the text in the left panels */
div.sidebar-nav i.codeine_help {
	vertical-align: text-bottom; 
}
/* This fixes the pointer look on links in angular. see http://angular-ui.github.io/bootstrap*/
.nav, .pagination, .carousel, .panel-title a { 
	cursor: pointer; 
}
.cursor_pointer {
    cursor: pointer;
}

.my-fixed-table {
    table-layout: fixed;
    word-wrap: break-word;
}


.scroll-top-wrapper {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    text-align: center;
    z-index: 99999999;
    color: #888888;
    width: 50px;
    height: 48px;
    line-height: 48px;
    right: 30px;
    bottom: 30px;
    padding-top: 2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper:hover {
    background-color: #989898;
}
.scroll-top-wrapper.show {
    visibility:visible;
    cursor:pointer;
    opacity: 1.0;
}
.scroll-top-wrapper i.fa {
    line-height: inherit;
}
