[project]
	description = Codeine is a continuous deployment tool that makes product deployment faster and safer through automation and monitoring.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/oshai
[access "refs/for/refs/*"]
	read = group user/oshai
	push = group user/oshai
	label-Code-Review = -2..+2 group user/oshai
	label-Verified = -1..+1 group user/oshai
	rebase = group user/oshai
	removeReviewer = group user/oshai
	submit = group user/oshai
[access "refs/heads/*"]
	read = group user/oshai
	create = group user/oshai
	push = +force group user/oshai
	pushMerge = group user/oshai
[access "refs/tags/*"]
	push = +force group user/oshai
	pushTag = group user/oshai
	pushSignedTag = group user/oshai
