<div class="col-md-3">
    <div ng-include="'/ajs/partials/menus/projectMenu.html'"></div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="panel-title"><i class="fa fa-tags"></i> Tags <help help-id="nodeTagsHelp"></help></span>
        </div>
        <div class="list-group">
            <a three-state-list-group-item state='tag.state' href="#" style="padding-top: 3px; padding-bottom: 3px;" ng-repeat="tag in  projectStatus.tag_info | limitTo:maxTags ">{{tag.name}} <span class="badge pull-right">{{tag.count}}</span></a>
            <span class="list-group-item" ng-show="maxTags == 10 && projectStatus.tag_info.length > 10"><button ng-click="showAllTags()" class="btn btn-default btn-sm">More...</button></span>
        </div>
    </div>
    <div ng-include="'/ajs/partials/menus/commandHistory.html'"></div>
</div>
<div class="col-md-9">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" ng-model="nodesFilter" class="form-control search-query" placeholder="Filter Nodes">
                    </div>

                </form>
                <ul class="nav navbar-nav left">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{selectedMonitor}} <b class="caret"></b> <help help-id="monitorHelp"></help></a>
                        <ul class="dropdown-menu">
                            <li ng-repeat="monitor in projectStatus.monitor_info">
                                <a ng-click="selectMonitor(monitor.name)">{{monitor.name}}  <span class="badge">{{monitor.count}}</span></a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a ng-click="selectMonitor('Any Alert')">Any Alert <span class="badge">1</span></a>
                            </li>
                            <li>
                                <a ng-click="selectMonitor('All Nodes')">All Nodes <span class="badge">1</span></a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-play"></i> Run Command... <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li ng-repeat="command in projectConfiguration.commands" class="disabled">
                                <a>{{command.name}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="row">
        <div class="col-md-12">
            <accordion close-others="false" style="margin-bottom: 5px;">
                <div>
                    <accordion-group is-open="false">
                        <accordion-heading>
                            <div class="row">
                                <div class="col-md-12">
                                    <form class="form-inline" role="form">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-checked="isAllNodesChecked()" ng-click="doSelectAllNodes($event)"> Select All
                                            </label>
                                        </div>
                                        <small class="pull-right">
                                            <span>Total {{allNodesCount}} nodes</span>
                                        </small>
                                    </form>
                                </div>
                            </div>
                        </accordion-heading>
                    </accordion-group>
                </div>
            </accordion>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <accordion close-others="false">
                <div ng-repeat="versionItem in projectStatus.nodes_for_version" ng-show="filteredNodes[$index].length > 0">
                    <accordion-group is-open="false">
                        <accordion-heading>
                            <div class="row">
                                <div class="col-md-12">
                                    <form class="form-inline" role="form">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-checked="isVersionChecked(versionItem)" ng-click="checkboxClick(versionItem,$event)" > {{versionItem.version}}
                                            </label>
                                        </div>
                                        <div class="progress pull-right col-md-1 project-status-progress">
                                            <div class="progress-bar progress-bar-success" ng-style="{width: versionItem.not_failing_nodes_precent + '%'}">
                                            </div>
                                            <div class="progress-bar progress-bar-danger" ng-style="{width: versionItem.failing_nodes_precent + '%'}">
                                            </div>
                                        </div>
                                        <i class="pull-right fa fa-exclamation" ng-show="versionItem.failing_nodes_count > 0" style="color: red;"></i>
                                        <small class="pull-right">
                                            <span>{{filteredNodes[$index].length}}</span> nodes(<span>{{versionItem.nodes.length - filteredNodes[$index].length}}</span> hidden)
                                        </small>
                                    </form>
                                </div>
                            </div>
                        </accordion-heading>
                        <div class="row" ng-repeat="node in ( filteredNodes[$index] = ( versionItem.nodes | nodesFilter:nodesFilter:selectedMonitor:projectStatus.tag_info) )">
                            <div class="col-md-3">
                                <form class="form-inline" role="form">
                                    <div class="checkbox">
                                        <label>
                                            <input ng-model="node.checked" type="checkbox"> <a ng-href="/codeine/project/{{projectName}}/node/{{node.node_name}}"> {{node.node_alias}}</a>
                                        </label>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-9">
                                <i class="fa fa-check-circle fa-lg" ng-class="{ default: node.peer_status == 'Disc' , success: node.peer_status == 'On' }" ng-show="node.failed_monitors.length == 0"></i>
                                <a ng-href="/codeine/project/{{projectName}}/node/{{node.node_name}}/monitor/{{failing_monitor}}" class="label"  ng-class="{'label-default': node.peer_status == 'Disc' , 'label-danger': node.peer_status == 'On'}" ng-repeat="failing_monitor in node.failed_monitors" >{{failing_monitor}}</a>
                            </div>
                        </div>
                    </accordion-group>
                </div>
            </accordion>
        </div>
    </div>
</div>