<div class="col-md-3">
    <div ng-include="'/components/menus/projectMenu.html'"></div>
    <div ng-include="'/components/commands_panel/commandHistory.html'"></div>
</div>
<div class="col-md-9">
<form novalidate name="configForm">
<accordion close-others="false">
<accordion-group is-open="project_is_open">
    <accordion-heading>
        Project Info
        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': project_is_open, 'glyphicon-chevron-right': !project_is_open}"></i>
    </accordion-heading>
    <div class="form-horizontal">
        <div class="form-group">
            <label for="project_name" class="col-md-4 control-label">Project Name</label>
            <div class="col-md-4">
                <input type="text" ng-model="projectConfigurationForEditing.name" class="form-control readonly_item" name="project_name" id="project_name" readonly>
            </div>
        </div>
    </div>
</accordion-group>
<accordion-group is-open="nodes_is_open">
    <accordion-heading>
        Nodes Info
        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': nodes_is_open, 'glyphicon-chevron-right': !nodes_is_open}"></i>
    </accordion-heading>
    <div class="form-horizontal">
        <div class="form-group" ng-class="{'has-error': projectConfigurationForEditing.node_discovery_startegy.$invalid}">
            <label for="node_discovery_startegy" class="col-md-4 control-label">Node Discovery Strategy <help help-id="nodesHelp"></help></label>
            <div class="col-md-4">
                <select  class="form-control select2" name="node_discovery_startegy" id="node_discovery_startegy"  ui-select2="{ allowClear: false}" ng-model="projectConfigurationForEditing.node_discovery_startegy">
                    <option value="Configuration">Configuration</option>
                    <option value="Reporter">Reporter</option>
                    <option value="Script">Script</option>
                </select>
            </div>
        </div>
        <ng-form name="scriptDiscoveryStartegyInnerForm">
            <div class="form-group" ng-if="projectConfigurationForEditing.node_discovery_startegy == 'Script'">
                <label for="nodes_discovery_script" class="col-md-4 control-label">Nodes Script <help help-id="discoveryScriptHelp"></help></label>
                <div class="col-md-7" ng-class="{'has-error': scriptDiscoveryStartegyInnerForm.script_content.$invalid}">
                    <textcomplete members='model.nodesDiscoveryAutoComplete' message='projectConfigurationForEditing.nodes_discovery_script' rows="3" element-class="form-control" element-id="nodes_discovery_script" is-required="true"></textcomplete>
                </div>
            </div>
        </ng-form>
        <ng-form name="tagsDiscoveryInnerForm">
            <div class="form-group" ng-if="projectConfigurationForEditing.node_discovery_startegy == 'Script'">
                <label for="tags_discovery_script" class="col-md-4 control-label">Tags Script <help help-id="tagsdiscoveryScriptHelp"></help></label>
                <div class="col-md-7">
                    <textcomplete members='model.tagsAutoComplete' message='projectConfigurationForEditing.tags_discovery_script' rows="3" element-class="form-control" element-id="tags_discovery_script" is-required="false"></textcomplete>
                </div>
            </div>
        </ng-form>
        <div ng-if="projectConfigurationForEditing.node_discovery_startegy == 'Configuration'">
            <table class="table table-striped table-bordered table-hover table-condensed table-responsive">
                <thead>
                <tr>
                    <th class="col-md-3" style="text-align: center;">Host : Unique Key</th>
                    <th class="col-md-3" style="text-align: center;">Alias</th>
                    <th class="col-md-5" style="text-align: center">Tags</th>
                    <th class="col-md-1" style="text-align: center;"></th>
                </tr>
                </thead>
                <tbody>
                <tbody ng-repeat="node_info in projectConfigurationForEditing.nodes_info">
                <tr>
                    <td class="col-md-3">
                        <input type="text" name="node_info{{$index}}.name" class="form-control" ng-model="node_info.name" required>
                    </td>
                    <td class="col-md-3">
                        <input type="text" name="node_info{{$index}}.alias" class="form-control" ng-model="node_info.alias" required>
                    </td>
                    <td class="col-md-5">
                        <input type="text" ui-select2="select2Options" ng-model="node_info.tags" class="form-control select2">
                    </td>
                    <td class="col-md-1">
                        <button ng-click="removeItem(projectConfigurationForEditing.nodes_info,$index)" title="Remove Node" class="btn btn-default btn-mini"><i class="fa fa-times"></i></button>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-md-12">
                    <button ng-click="addNode()" type="button" style="margin-left: 10px;" class="btn btn-info"><i class="fa fa-plus"></i> Add Node</button>
                </div>
                <br/><br/>
            </div>
        </div>
    </div>
</accordion-group>
<accordion-group is-open="version_is_open">
    <accordion-heading>
        Version Detection <help help-id="versionHelp"></help>
        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': version_is_open, 'glyphicon-chevron-right': !version_is_open}"></i>
    </accordion-heading>
    <div class="form-horizontal">
        <div class="form-group">
            <label for="version_detection_script" class="col-md-4 control-label">Script <help help-id="versionScriptHelp"></help></label>
            <div class="col-md-7">
                <textcomplete members='model.versionAutoComplete' message='projectConfigurationForEditing.version_detection_script' rows="3" element-class="form-control" element-id="version_detection_script" is-required="false"></textcomplete>
            </div>
        </div>
    </div>
</accordion-group>
<accordion-group is-open="monitors_is_open">
    <accordion-heading>
        Monitors <help help-id="monitorsConfigureHelp"></help>
        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': monitors_is_open, 'glyphicon-chevron-right': !monitors_is_open}"></i>
    </accordion-heading>
    <accordion close-others="false">
        <accordion-group ng-repeat="monitor_info in projectConfigurationForEditing.monitors" is-open="monitor_is_open">
            <accordion-heading>
                Monitor: {{monitor_info.name}}
                <i class="glyphicon pull-right" ng-class="{'glyphicon-chevron-down': monitor_is_open, 'glyphicon-chevron-right': !monitor_is_open}">
                </i>
                <div class="btn-group btn-group-xs pull-right">
                    <button title="Move up" ng-disabled="$index === 0" ng-click="moveUp(projectConfigurationForEditing.monitors,$index,$event)" class="btn btn-default"><i class="fa fa-arrow-up"></i></button>
                    <button title="Move down" ng-disabled="$index === projectConfigurationForEditing.monitors.length-1" ng-click="moveDown(projectConfigurationForEditing.monitors,$index,$event)" class="btn btn-default"><i class="fa fa-arrow-down"></i></button>
                    <button title="Remove Monitor" ng-click="removeItem(projectConfigurationForEditing.monitors,$index)" class="btn btn-default"><i class="fa fa-times"></i></button>
                </div>
            </accordion-heading>
            <ng-form name="monitorsInnerForm">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="monitor_info{{$index}}.name">Name</label>
                        <div class="controls col-md-3" ng-class="{'has-error': monitorsInnerForm.name.$invalid}">
                            <input id="monitor_info{{$index}}.name" name="name" type="text" ng-model="monitor_info.name" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="monitor_info{{$index}}.minInterval">Min Interval <help help-id="minIntervalHelp"></help></label>
                        <div class="controls col-md-3" ng-class="{'has-error': monitorsInnerForm.minInterval.$invalid}">
                            <input id="monitor_info{{$index}}.minInterval" name="minInterval" type="number" min="1" ng-model="monitor_info.minInterval" class="form-control" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="monitor_info{{$index}}.credentials">Credentials <help help-id="credentialsHelp"></help></label>
                        <div class="controls col-md-3">
                            <input id="monitor_info{{$index}}.credentials" name="credentials" ng-model="monitor_info.credentials" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox col-md-offset-3">
                            <label>
                                <input type="checkbox" ng-model="monitor_info.notification_enabled"> Notification Enabled
                                <help help-id="notificationsEnabledHelp"></help>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="monitor_info{{$index}}.script" class="col-md-3 control-label">Script <help help-id="monitorScriptHelp"></help></label>
                        <div class="col-md-7" ng-class="{'has-error': monitorsInnerForm.script_content.$invalid}">
                            <textcomplete members='model.commandAndMonitorAutoComplete' message='monitor_info.script_content' rows="3" element-class="form-control" element-id="monitor_info{{$index}}.script" is-required="true"></textcomplete>
                        </div>
                    </div>
                </div>
            </ng-form>
        </accordion-group>
    </accordion>
    <div class="row">
        <div class="col-md-12">
            <button ng-click="addMonitor()" type="button" style="margin-left: 10px;" class="btn btn-info"><i class="fa fa-plus"></i> Add Monitor</button>
        </div>
        <br/><br/>
    </div>
</accordion-group>
<accordion-group is-open="email_is_open">
    <accordion-heading>
        Email Notifications <help help-id="emailHelp"></help>
        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': email_is_open, 'glyphicon-chevron-right': !email_is_open}"></i>
    </accordion-heading>
    <table class="table table-striped table-bordered table-hover table-condensed table-responsive">
        <thead>
        <tr>
            <th class="col-md-3" style="text-align: center;">Email</th>
            <th class="col-md-3" style="text-align: center;">Intensity</th>
            <th class="col-md-1" style="text-align: center;"></th>
        </tr>
        </thead>
        <tbody>
        <tbody ng-repeat="mail_info in projectConfigurationForEditing.mail">
        <tr>
            <td class="col-md-3">
                <input name="username{{$index}}" type="text" class="form-control" ng-model="mail_info.user" required>
            </td>
            <td class="col-md-3">
                <select class="form-control select2" name="intensity{{$index}}" id="intensity{{$index}}"  ui-select2="{ allowClear: false}" ng-model="mail_info.intensity" required>
                    <option value="Immediately">Immediately</option>
                    <option value="Hourly">Hourly</option>
                    <option value="Daily">Daily</option>
                </select>
            </td>
            <td class="col-md-1">
                <button ng-click="removeItem(projectConfigurationForEditing.mail,$index)" title="Remove Notification" class="btn btn-default btn-mini"><i class="fa fa-times"></i></button>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col-md-12">
            <button ng-click="addNotification()" type="button" style="margin-left: 10px;" class="btn btn-info"><i class="fa fa-plus"></i> Add Notification</button>
        </div>
        <br/><br/>
    </div>
</accordion-group>
<accordion-group is-open="commands_is_open">
    <accordion-heading>
        Commands <help help-id="commandsConfigureHelp"></help>
        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': commands_is_open, 'glyphicon-chevron-right': !commands_is_open}"></i>
    </accordion-heading>
    <accordion close-others="false">
        <accordion-group ng-repeat="command_info in projectConfigurationForEditing.commands" is-open="command_is_open">
            <accordion-heading>
                <div>
                    Command: {{command_info.name}}
                    <i class="glyphicon pull-right" ng-class="{'glyphicon-chevron-down': command_is_open, 'glyphicon-chevron-right': !command_is_open}">
                    </i>
                    <div class="btn-group btn-group-xs pull-right">
                        <button title="Move up" ng-disabled="$index === 0" ng-click="moveUp(projectConfigurationForEditing.commands,$index,$event)" class="btn btn-default"><i class="fa fa-arrow-up"></i></button>
                        <button title="Move down" ng-disabled="$index === projectConfigurationForEditing.commands.length-1" ng-click="moveDown(projectConfigurationForEditing.commands,$index,$event)" class="btn btn-default"><i class="fa fa-arrow-down"></i></button>
                        <button title="Remove Monitor" ng-click="removeItem(projectConfigurationForEditing.commands,$index)" class="btn btn-default"><i class="fa fa-times"></i></button>
                    </div>
                </div>
            </accordion-heading>
            <ng-form name="commandsInnerForm">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="command_info{{$index}}.name">Name</label>
                        <div class="controls col-md-3" ng-class="{'has-error': commandsInnerForm.name.$invalid}">
                            <input id="command_info{{$index}}.name" name="name" type="text" ng-model="command_info.name" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="command_info{{$index}}.credentials">Credentials <help help-id="credentialsHelp"></help></label>
                        <div class="controls col-md-3">
                            <input id="command_info{{$index}}.credentials" name="credentials" ng-model="command_info.credentials" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox col-lg-offset-3">
                            <label>
                                <input type="checkbox" name="prevent_override" id="command_info{{$index}}.prevent_override" ng-model="command_info.prevent_override"> Prevent override of default configuration
                                <help help-id="preventOverrideHelp"></help>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="command_info{{$index}}.command_strategy">How to Run <help help-id="howToRunHelp"></help></label>
                        <div class="controls col-md-3" ng-class="{'has-error': commandsInnerForm.command_strategy.$invalid}">
                            <select  class="form-control select2" name="command_strategy" id="command_info{{$index}}.command_strategy"  ui-select2="{ allowClear: false}" ng-model="command_info.command_strategy" required>
                                <option value="Immediately">Immediately</option>
                                <option value="Progressive">Progressive</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" ng-show="command_info.command_strategy == 'Immediately'">
                        <label class="col-md-3 control-label" for="command_info{{$index}}.concurrency">Concurrency <help help-id="concurrencyHelp"></help></label>
                        <div class="controls col-md-3" ng-class="{'has-error': commandsInnerForm.concurrency.$invalid}">
                            <input id="command_info{{$index}}.concurrency" name="concurrency" ng-model="command_info.concurrency" type="number" min="1" class="form-control" required>
                        </div>
                    </div>
                    <div ng-if="command_info.command_strategy == 'Progressive'">
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="command_info{{$index}}.duration">Duration <help help-id="durationHelp"></help></label>
                            <div class="controls col-md-3" ng-class="{'has-error': commandsInnerForm.duration.$invalid}">
                                <input id="command_info{{$index}}.duration" name="duration" ng-model="command_info.duration" type="text" class="form-control" required>
                            </div>
                            <div class="controls col-md-3">
                                <select class="form-control select2" name="command_info{{$index}}.duration_units" id="command_info{{$index}}.duration_units"  ui-select2="{ allowClear: false}" ng-model="command_info.duration_units" required>
                                    <option value="Minutes">Minutes</option>
                                    <option value="Hours">Hours</option>
                                    <option value="Days">Days</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="command_info{{$index}}.ratio">Ratio <help help-id="ratioHelp"></help></label>
                            <div class="controls col-md-3" ng-class="{'has-error': commandsInnerForm.ratio.$invalid}">
                                <select  class="form-control select2" name="ratio" id="command_info{{$index}}.ratio"  ui-select2="{ allowClear: false}" ng-model="command_info.ratio" required>
                                    <option value="Linear">Linear</option>
                                    <option value="Exponential">Exponential</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox col-lg-offset-3">
                                <label>
                                    <input type="checkbox" name="stop_on_error" id="command_info{{$index}}.stop_on_error" ng-model="command_info.stop_on_error"> Stop on error
                                    <help help-id="stopOnErrorHelp"></help>
                                </label>
                            </div>
                        </div>
                        <div class="form-group" ng-if="command_info.stop_on_error">
                            <label class="col-md-3 control-label" for="command_info{{$index}}.error_percent_val">Error percent</label>
                            <div class="controls col-md-3">
                                <input placeholder="%" id="command_info{{$index}}.error_percent_val" name="error_percent_val" ng-model="command_info.error_percent_val" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <!-- command parameters -->
                    <accordion close-others="false">
                        <accordion-group ng-repeat="command_parameter in command_info.parameters" is-open="command_parameter_is_open">
                            <accordion-heading>
                                Parameter: {{command_parameter.name}}
                                <i class="glyphicon pull-right" ng-class="{'glyphicon-chevron-down': command_parameter_is_open, 'glyphicon-chevron-right': !command_parameter_is_open}">
                                </i>
                                <div class="btn-group btn-group-xs pull-right">
                                    <button title="Move up" ng-disabled="$index === 0" ng-click="moveUp(command_info.parameters,$index,$event)" class="btn btn-default"><i class="fa fa-arrow-up"></i></button>
                                    <button title="Move down" ng-disabled="$index === command_info.parameters.length-1" ng-click="moveDown(command_info.parameters,$index,$event)" class="btn btn-default"><i class="fa fa-arrow-down"></i></button>
                                    <button title="Remove Monitor" ng-click="removeItem(command_info.parameters,$index)" class="btn btn-default"><i class="fa fa-times"></i></button>
                                </div>
                            </accordion-heading>
                            <ng-form name="paramsInnerForm">
                                <div class="form-group" ng-class="{'has-error': paramsInnerForm.name.$invalid}">
                                    <label class="col-md-3 control-label" for="command_parameter{{$index}}.name">Name <help help-id="command_patameter_name_Help"></help></label>
                                    <div class="controls col-md-3">
                                        <input id="command_parameter{{$index}}.name" name="name" type="text" ng-model="command_parameter.name" class="form-control" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="command_parameter{{$index}}.type">Type <help help-id="typeHelp"></help></label>
                                    <div class="controls col-md-3">
                                        <select  class="form-control select2" name="type" id="command_parameter{{$index}}.type"  ui-select2="{ allowClear: false}" ng-model="command_parameter.type" required>
                                            <option value="String">String</option>
                                            <option value="Boolean">Boolean</option>
                                            <option value="Selection">Selection</option>
                                            <option value="Password">Password</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="command_parameter{{$index}}.description">Description <help help-id="command_patameter_name_Help"></help></label>
                                    <div class="controls col-md-3" ng-class="{'has-error': paramsInnerForm.description.$invalid}">
                                        <input id="command_parameter{{$index}}.description" name="description" type="text" ng-model="command_parameter.description" class="form-control" required>
                                    </div>
                                </div>
                                <div class="form-group" ng-if="command_parameter.type == 'String'">
                                    <label class="col-md-3 control-label" for="command_parameter{{$index}}.validation_expression">Validation Expression <help help-id="command_patameter_validation_expression_Help"></help></label>
                                    <div class="controls col-md-3">
                                        <input id="command_parameter{{$index}}.validation_expression" name="validation_expression" type="text" ng-model="command_parameter.validation_expression" class="form-control" >
                                    </div>
                                </div>
                                <div class="form-group" ng-if="command_parameter.type == 'Selection'">
                                    <label class="col-md-3 control-label" for="command_parameter{{$index}}.allowed_values">Allowed values <help help-id="command_patameter_values_Help"></help></label>
                                    <div class="controls col-md-3" ng-class="{'has-error': paramsInnerForm.command_parameter.allowed_values.$invalid}">
                                        <input type="text" id="command_parameter{{$index}}.allowed_values" name="allowed_values" ui-select2="select2OptionsAllowedValues" ng-model="command_parameter.allowed_values" class="form-control select2" required>
                                    </div>
                                </div>
                                <div class="form-group" ng-if="command_parameter.type == 'String' || command_parameter.type == 'Password'">
                                    <label class="col-md-3 control-label" for="command_parameter{{$index}}.default_value">Default Value <help help-id="command_patameter_default_val_Help"></help></label>
                                    <div class="controls col-md-3">
                                        <input id="command_parameter{{$index}}.default_value" name="default_value" type="text" ng-model="command_parameter.default_value" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group" ng-if="command_parameter.type == 'Boolean'">
                                    <div class="checkbox col-lg-offset-3">
                                        <label>
                                            <input type="checkbox" ng-model="command_info.default_value"> Default value
                                            <help help-id="command_patameter_default_val_Help"></help>
                                        </label>
                                    </div>
                                </div>
                            </ng-form>
                        </accordion-group>
                    </accordion>
                    <div class="row">
                        <div class="col-md-12">
                            <button ng-click="addParameter($parent.$index)" type="button" style="margin-left: 10px;" class="btn btn-info"><i class="fa fa-plus"></i> Add Parameter</button>
                        </div>
                        <br/><br/>
                    </div>
                    <div class="form-group">
                        <label for="command_info{{$index}}.script_content" class="col-md-3 control-label">Script <help help-id="commandScriptHelp"></help></label>
                        <div class="col-md-7" ng-class="{'has-error': commandsInnerForm.script_content.$invalid}">
                            <textcomplete members='model.commandAndMonitorAutoComplete' message='command_info.script_content' rows="3" element-class="form-control" element-id="command_info{{$index}}.script_content" is-required="true"></textcomplete>
                        </div>
                    </div>
                </div>
            </ng-form>
        </accordion-group>
    </accordion>
    <div class="row">
        <div class="col-md-12">
            <button ng-click="addCommand()" type="button" style="margin-left: 10px;" class="btn btn-info"><i class="fa fa-plus"></i> Add Command</button>
        </div>
        <br/><br/>
    </div>
</accordion-group>
<accordion-group is-open="is_open">
    <accordion-heading>
        Permissions <help help-id="11"></help>
        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': is_open, 'glyphicon-chevron-right': !is_open}"></i>
    </accordion-heading>
    <div class="form-horizontal">
        <table class="table table-condensed table-hover table-striped table-bordered table-responsive">
            <thead>
            <tr>
                <th class="col-md-3">Username
                </th>
                <th class="col-md-2">View
                    <help help-id="11"></help>
                </th>
                <th class="col-md-4">Command
                    <help help-id="11"></help>
                </th>
                <th class="col-md-2">Config
                    <help help-id="11"></help>
                </th>
                <th class="col-md-1"></th>
            </tr>
            </thead>
            <tbody ng-repeat="permissionObject in projectConfigurationForEditing.permissions">
                <ng-form name="permissionsForm">
                    <tr>
                        <td class="col-md-3" ng-class="{'has-error': permissionsForm.username.$invalid}">
                            <input type="text" class="form-control" name="username" id="username" ng-distinct-values="projectConfigurationForEditing.permissions" ng-model="projectConfigurationForEditing.permissions[$index].username" required>
                        </td>
                        <td class="col-md-2">
                            <input type="checkbox" checked disabled class="readonly_item">
                        </td>
                        <td class="col-md-4">
                            <input type="text" ui-select2="select2OptionsNodesValues" ng-model="permissionObject.can_command" class="form-control select2" required>
                        </td>
                        <td class="col-md-2">
                            <input type="checkbox" ng-model="permissionObject.can_config">
                        </td>
                        <td class="col-md-1">
                            <button ng-click="removeItem(projectConfigurationForEditing.permissions,$index)" title="Remove User" class="btn btn-default btn-mini "><i class="fa fa-times"></i></button>
                        </td>
                    </tr>
                </ng-form>
            </tbody>
        </table>
        <div class="row">
            <div class="col-md-12">
                <button type="button" ng-click="addUser()" style="margin-left: 10px;" class="btn btn-info"><i class="fa fa-plus"></i> Add User</button>
            </div>
            <br/><br/>
        </div>
    </div>
</accordion-group>
</accordion>
<div class="row">
    <div class="col-md-12">
        <button ng-disabled="configForm.$invalid" ng-click="applyConfiguration(true)" style="margin-right: 10px;" class="btn btn-success pull-right"><i class="fa fa-floppy-o"></i> Save & Close</button>
        <button ng-disabled="configForm.$invalid" ng-click="applyConfiguration(false)" style="margin-right: 10px;" class="btn btn-success pull-right"><i class="fa fa-check-square-o"></i> Apply</button>
    </div>
    <br/><br/>
</div>
</form>
</div>

