<div class="col-md-3">
    <div ng-include="'/components/menus/projectMenu.html'"></div>
    <div ng-include="'/components/commands_panel/commandHistory.html'"></div>
</div>
<div class="col-md-9">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Command Info</strong>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-2"><strong>Name:</strong></div><div class="col-md-6"> {{vm.commandStatus.command}}</div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-2"><strong>Start Time:</strong></div><div class="col-md-6"> {{vm.commandStatus.start_time | date:'short'}}</div>
                    </div>
                    <br/>
                    <div class="row" ng-if="vm.commandStatus.finished">
                        <div class="col-md-2"><strong>Finish Time:</strong></div><div class="col-md-6"> {{vm.commandStatus.finish_time | date:'short'}}</div>
                    </div>
                    <br ng-if="vm.commandStatus.finished"/>
                    <div class="row">
                        <div class="col-md-2"><strong>User:</strong></div><div class="col-md-6"> {{vm.commandStatus.user}}</div>
                    </div>
                    <br/>
                    <div class="row" ng-show="vm.commandStatus.params.length > 0">
                        <div class="col-md-2"><strong>Parameters:</strong></div>
                    </div>
                    <div ng-repeat="param in vm.commandStatus.params">
                        <br/>
                        <div class="row">
                            <div class="col-md-3 col-md-offset-1"><strong>{{param.name}}:</strong></div>
                            <div class="col-md-4" style="word-break: break-all;">
                                <input type="{{param.type === 'Password' ? 'password' : 'text'}}"  ng-model="param.value" class="form-control readonly_item" readonly>
                            </div>
                        </div>
                    </div>
                    <br ng-if="vm.commandStatus.params.length > 0"/>
                    <div class="row">
                        <div class="col-md-2"><strong>Status:</strong></div>
                        <div ng-show="!vm.commandStatus.finished">
                            <div class="col-md-6"><i class="fa fa-spinner fa-spin"></i> Running</div>
                        </div>
                        <div ng-show="vm.commandStatus.finished">
                            <div class="col-md-6"> Finished</div>
                        </div>

                    </div>
                    <br/>
                    <div class="row" ng-show="vm.commandStatus.can_rerun || (!vm.commandStatus.finished && vm.commandStatus.can_cancel)">
                        <div class="col-md-2" ng-show="vm.commandStatus.can_rerun">
                            <button type="button" ng-click="vm.rerunCommand()" class="btn btn-info btn-sm">
                                <i class="fa fa-repeat"></i> Re-Run
                            </button>
                        </div>
                        <br ng-show="vm.commandStatus.can_rerun"/>
                        <div class="col-md-2" ng-show="!vm.commandStatus.finished && vm.commandStatus.can_cancel">
                            <button type="button" ng-click="vm.cancelCommand($event)" class="btn btn-warning btn-sm">
                                <i class="fa fa-times-circle"></i> Cancel
                            </button>
                        </div>
                    </div>
                    <br ng-show="vm.commandStatus.can_rerun || (!vm.commandStatus.finished && vm.commandStatus.can_cancel)"/>
                    <accordion close-others="false">
                    <accordion-group is-open="vm.all_nodes_is_open">
                        <accordion-heading>
                            All Nodes <span class="badge">{{vm.commandStatus.nodes_list.length}}</span>
                            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': vm.all_nodes_is_open, 'glyphicon-chevron-right': !vm.all_nodes_is_open}"></i>
                        </accordion-heading>
                        <div ng-if="vm.all_nodes_is_open && vm.commandStatus.nodes_list.length < 100">
                            <div ng-repeat="node in vm.commandStatus.nodes_list" class="row">
                                <div class="col-md-8">
                                    <a ng-href="/codeine/view/{{::vm.tabName}}/project/{{::vm.projectName}}/node/{{::node.name}}/status">{{::node.alias}}</a>
                                </div>
                            </div>
                        </div>
                        <div ng-if="vm.all_nodes_is_open && vm.commandStatus.nodes_list.length >= 100">
                            <div ng-repeat="node in vm.commandStatus.nodes_list | limitTo:100 " class="row">
                                <div class="col-md-8">
                                    <a ng-href="/codeine/view/{{::vm.tabName}}/project/{{::vm.projectName}}/node/{{::node.name}}/status">{{::node.alias}}</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    And More...
                                </div>
                            </div>
                        </div>
                    </accordion-group>
                    </accordion>
                    <accordion close-others="false">
                    <accordion-group is-open="vm.fail_nodes_is_open">
                        <accordion-heading>
                            Failed Nodes <span class="badge">{{vm.commandStatus.fail_list.length}}</span>
                            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': vm.fail_nodes_is_open, 'glyphicon-chevron-right': !vm.fail_nodes_is_open}"></i>
                        </accordion-heading>
                        <div ng-if="vm.fail_nodes_is_open">
                            <div ng-repeat="node in vm.commandStatus.fail_list" class="row">
                                <div class="col-md-8">
                                    <a ng-href="/codeine/view/{{::vm.tabName}}/project/{{::vm.projectName}}/node/{{::node.name}}/status">{{::node.alias}}</a>
                                </div>
                            </div>
                        </div>
                    </accordion-group>
                    </accordion>
                </div>
            </div>
            <h4>Command Log</h4>
            <pre>{{vm.commandStatus.output}}</pre>
            <div ng-show="!vm.commandStatus.finished">
                <i class="fa fa-spinner fa-spin fa-2x"></i>
            </div>
        </div>
    </div>
</div>