<div class="col-md-3">
    <div ng-include="'/ajs/partials/menus/mainMenu.html'"></div>
</div>
<div class="col-md-9">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>User Info</strong>
        </div>
        <div class="panel-body">
            <div class="form-horizontal col-md-8">
                <div class="form-group">
                    <label class="col-md-3 control-label" for="username">Username</label>
                    <div class="controls col-md-9">
                        <input id="username" name="username" type="text"  ng-model="userInfo.username" class="form-control readonly_item" readonly >
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="apiToken">API Token</label>
                    <div class="controls col-md-9">
                        <input id="apiToken" name="apiToken" type="text" ng-model="userInfo.api_token" class="form-control readonly_item" readonly >
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
