<div class="col-md-3">
    <div ng-include="'/components/menus/projectMenu.html'"></div>
    <div ng-include="'/components/commands_panel/commandHistory.html'"></div>
</div>
<div class="col-md-9">
    <nav class="navbar navbar-default" role="navigation" command-action project="projectName" allowed="nodeStatus.user_can_command">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right" ng-if="projectConfiguration.commands_include_inherited.length">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle"><i class="fa fa-play"></i> Run Command... <b class="caret"></b></a>
                        <ul class="dropdown-menu" role="menu" on-toggle="toggled(open)">
                            <li ng-repeat="command in projectConfiguration.commands_include_inherited">
                                <a ng-click="runCommand(command.name)">{{command.name}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Node Info</strong>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-2"><strong>Alias:</strong></div><div class="col-md-6"> {{nodeStatus.alias}}</div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-2"><strong>Name:</strong></div><div class="col-md-6"> {{nodeStatus.name}}</div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-2"><strong>Version:</strong></div><div class="col-md-6"> {{nodeStatus.version}}</div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-2"><strong>Tags:</strong></div>
                        <div class="col-md-6">
                            <span ng-repeat="tag in nodeStatus.tags"><span class="badge badge-info">{{tag}}</span> </span>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-2"><strong>Peer Status:</strong></div><div class="col-md-6"><i ng-class="{'fa-unlink': nodeStatus.peer_status == 'Disc', 'fa-power-off' : nodeStatus.peer_status == 'Offline', 'fa-link' : nodeStatus.peer_status == 'On' }" class="fa"></i> {{nodeStatus.peer_status}}</div>
                    </div>
                    <br/>
                </div>

                <div class="panel-heading">
                    <strong>Node Monitors</strong>
                </div>
                <div class="panel-body">
                    <div class="row" ng-repeat="monitor_info in nodeStatus.ok_monitors">
                        <div class="col-md-8">
                            <a ng-href="/codeine/project/{{projectName}}/node/{{nodeStatus.name}}/monitor/{{monitor_info}}/status"><i style="color: blue;" class="fa fa-desktop lg"></i>  {{monitor_info}}</a>
                        </div>
                    </div>
                    <div class="row" ng-repeat="monitor_info in nodeStatus.failed_monitors">
                        <div class="col-md-8">
                            <a ng-href="/codeine/project/{{projectName}}/node/{{nodeStatus.name}}/monitor/{{monitor_info}}/status"><i style="color: red;" class="fa fa-desktop lg"></i>  {{monitor_info}}</a>
                        </div>
                    </div>
                    <br/>
                </div>
            </div>
        </div>
    </div>
</div>