<div  tooltip="{{commandData.nodes}} nodes @ {{commandData.date}}" tooltip-placement="right">
    <div class="row">
        <div class="col-md-12" style="font-size: 11px;">
            <span  class="pull-left">
                <span ng-if="!commandData.can_cancel"><i class="fa fa-lg fa-info-circle"></i> {{commandData.name}}</span>
                <span ng-if="commandData.can_cancel"><i ng-click="cancelCommand($event)" class="fa fa-lg fa-times-circle error"></i> {{commandData.name}}</span>
            </span>
            <span class="pull-right">
                {{commandData.date}}
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="progress" ng-class="{'progress-striped' : !commandData.finished , 'active' : !commandData.finished }" style="margin-bottom: 0px;">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuemax="100" ng-style="{width: commandData.successPercent + '%'}"></div>
                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuemin="0" aria-valuemax="100" ng-style="{width: commandData.failPercent + '%'}"></div>
                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuemin="0" aria-valuemax="100" ng-style="{width: commandData.skipPercent + '%'}"></div>
            </div>
        </div>
    </div>
</div>