<div class="col-md-3">
    <div ng-include="'/components/menus/manageMenu.html'"></div>
    <div ng-include="'/components/commands_panel/commandRunning.html'"></div>
    <div class="input-group">
        <input type="text" ng-model="newViewAs" class="form-control" placeholder="User">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="setViewAs()">View As</button>
          </span>
    </div><!-- /input-group -->
    <div class="form-group" admin-action>

    </div>
</div>
<div class="col-md-9">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Active Users (last 20 minutes)</h3>
        </div>
        <div class="panel-body">
            <ul class="list-group">
                <li ng-repeat="user in statsitics.activeUsers" class="list-group-item">{{user}}</li>
            </ul>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Last Users</h3>
        </div>
        <div class="panel-body">
            <ul class="list-group">
                <li ng-repeat="user in statsitics.users" class="list-group-item">{{user}}</li>
            </ul>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Urls count</h3>
        </div>
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="url in statsitics.urls">
                    <span class="badge">{{url.hitCount}}</span>
                    {{url.path}}
                </li>
            </ul>
        </div>
    </div>
</div>