<div class="col-md-3">
    <div ng-include="'/components/menus/manageMenu.html'"></div>
    <div ng-include="'/components/commands_panel/commandRunning.html'"></div>
    <div class="input-group">
        <input type="text" ng-model="newViewAs" class="form-control" placeholder="User">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="setViewAs()">View As</button>
          </span>
    </div><!-- /input-group -->
    <div class="form-group" admin-action>

    </div>
</div>
<div class="col-md-9">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Active Users (last 20 minutes)</h3>
        </div>
        <div class="panel-body">
            <ul class="list-group">
                <li ng-repeat="activeUser in statsitics.activeUsers" class="list-group-item">{{activeUser}}</li>
            </ul>
        </div>
    </div>
    <accordion close-others="true">
        <accordion-group is-open="users_is_open">
            <accordion-heading>
                Last Users <span class="badge">{{statsitics.users.length}}</span>
                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': users_is_open, 'glyphicon-chevron-right': !users_is_open}"></i>
            </accordion-heading>
            <ul class="list-group">
                <li ng-repeat="user in statsitics.users" class="list-group-item">
                    <span class="badge">{{user.hitCount}}</span>
                    {{user.value}}
                </li>
            </ul>
        </accordion-group>
    </accordion>
    <accordion close-others="true">
        <accordion-group is-open="urls_is_open">
            <accordion-heading>
                Urls count
                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': urls_is_open, 'glyphicon-chevron-right': !urls_is_open}"></i>
            </accordion-heading>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="url in statsitics.urls">
                    <span class="badge">{{url.hitCount}}</span>
                    {{url.value}}
                </li>
            </ul>
        </accordion-group>
    </accordion>
</div>