<div class="well sidebar-nav">
    <ul class="nav nav-pills nav-stacked">
        <li class="nav-header">Menu</li>
        <li class="active" ><a href="/"><i class="fa fa-th-list fa-fw"></i> Projects</a></li>
        <li class=""><a href="/"><i class="fa fa-th-list fa-fw"></i> Hello</a></li>
    </ul>
</div><!--/.well -->
<div class="well sidebar-nav">
    <ul class="nav nav-list">
        <li class="nav-header">Command Executor Status  <i data-help-message="commandExecutorHelp" rel="popover" data-placement="bottom" data-trigger="hover" class="icon-question-sign codeine_help" data-original-title="" title=""></i></li>
        <div id="command_executer_list"><li class="text-center">No running commands</li></div>
    </ul>
</div><!--/.well -->
