<div class="panel panel-default">
    <div class="panel-heading">
        <span class="panel-title">Menu</span>
    </div>
    <div class="list-group">
        <a href="/codeine" class="list-group-item" active-menu-item><i class="fa fa-th-list fa-fw"></i> Projects</a>
        <a href="/codeine/new_project" class="list-group-item" active-menu-item admin-action><i class="fa fa-file fa-fw"></i> New Project</a>
        <a href="/codeine/manage-codeine" class="list-group-item" active-menu-item admin-action><i class="fa fa-wrench fa-fw"></i> Manage Codeine</a>
    </div>
</div>
<div ng-include="'/ajs/partials/menus/commandRunning.html'"></div>