<li>
	{{if finished}}	
		<span style="font-size: 11px;" class="pull-left">
			<a class="commandStatus" data-placement="right" data-toggle="tooltip" title="{{:nodes}} nodes @ {{:date}}" href="{{:link}}">
                <i class="fa fa-info-circle fa-lg"></i>
                {{:name}}
            </a>
		</span>
		<span style="font-size: 11px;" class="pull-right">
			<a class="commandStatus" data-placement="right" data-toggle="tooltip" title="{{:nodes}} nodes @ {{:date}}" href="{{:link}}">
                {{:date}}
            </a>
		</span>
	{{else}}
	<span style="font-size: 11px;">
		{{if can_cancel}}
		<div class="deleteCommand pull-left" style="padding-right: 3px;" data-id="{{:id}}" data-project="{{:project}}">
		<i class="fa fa-times-circle error fa-lg"></i>
		</div>
		{{else}}
		<i class="fa fa-play-circle fa-lg"></i>
		{{/if}}
			<span class="pull-left">
				<a class="commandStatus" data-placement="right" data-toggle="tooltip" title="{{:nodes}} nodes @ {{:date}}" href="{{:link}}">
					{{:name}}
				</a>
			</span>
			<span class="pull-right">
				<a class="commandStatus" data-placement="right" data-toggle="tooltip" title="{{:nodes}} nodes @ {{:date}}" href="{{:link}}">
					{{:date}}
				</a>
			</span>
	</span>
	{{/if}} 
	<div style="clear: both;"></div>
	<a class="commandStatus" data-placement="right" data-toggle="tooltip" title="{{:nodes}} nodes @ {{:date}}" href="{{:link}}">
	{{if finished}}
    	<div class="progress" style="margin-bottom: 5px;">
	{{else}}
	    <div class="progress progress-striped active" style="margin-bottom: 5px;">
	{{/if}}
	  		<div class="bar bar-success" style="width: {{:successPercent}}%;"></div>
	  		<div class="bar bar-danger" style="width: {{:failPercent}}%;"></div>
	  		{{if finished && (successPercent + failPercent < 100)}}
	  		<div class="bar bar-warning" style="width: {{:100 - successPercent - failPercent}}%;"></div>
	  		{{/if}}
		</div>
	</a>
</li>
