{{if command_strategy == "Immediately" || !command_strategy}}
<div class="control-group">
    <label class="control-label" for="command_concurrency_index_{{>#parent.getIndex()}}">
        Concurrency <i data-help-message="concurrencyHelp" rel="popover" class="icon-question-sign codeine_help"></i></label>
    <div class="controls">
        <input id="command_concurrency_index_{{>#parent.getIndex()}}" type="text" placeholder="Concurrency" value="{{:concurrency}}">
    </div>
</div>
{{else command_strategy == "Progressive"}}
<div class="control-group">
    <label class="control-label" for="command_duration_index_{{>#parent.getIndex()}}">
        Duration <i data-help-message="durationHelp" rel="popover" class="icon-question-sign codeine_help"></i></label>
    <div class="controls">
        <input id="command_duration_index_{{>#parent.getIndex()}}" type="text" class="span1" placeholder="Time" value="{{:duration}}">
        <select class="chosen-select span1" id="command_duration_units_index_{{>#parent.getIndex()}}" selected="{{:duration_units}}">
            <option value="Minutes">Minutes</option>
            <option value="Hours">Hours</option>
            <option value="Days">Days</option>
        </select>
    </div>
</div>
<div class="control-group">
    <label class="control-label">
        Ratio <i data-help-message="ratioHelp" rel="popover" class="icon-question-sign codeine_help"></i></label>
    <div class="controls">
        <select class="chosen-select" id="command_ratio_index_{{>#parent.getIndex()}}" selected="{{:ratio}}">
            <option value="Linear">Linear</option>
            <option value="Exponential">Exponential</option>
        </select>
    </div>
</div>
<div class="control-group">
    <div class="controls">
        <label class="checkbox">
            <input type="checkbox" data-index="{{>#parent.getIndex()}}" id="command_stop_on_error_index_{{>#parent.getIndex()}}" {{if stop_on_error}}checked{{/if}}>
            Stop on error
            <i data-help-message="stopOnErrorHelp" rel="popover" class="icon-question-sign codeine_help"></i>
        </label>
        <span class="hidden" id="command_errorPercent_index_{{>#parent.getIndex()}}">
            <input type="text" id="command_error_percent_val_index_{{>#parent.getIndex()}}" value="{{:error_percent_val}}" class="span1" placeholder="Error">
            %</span>
    </div>
</div>
{{/if}}
