<div class="offset1 command_parameter" data-type="{{:type}}" id="command_parameter_row_index_{{>#parent.getIndex()}}_{{:#getIndex()}}">
	<h5>
		{{:type}} Parameter
		<div class="pull-right">
			<a href="javascript: void(0);" data-index="index_{{>#parent.getIndex()}}_{{:#getIndex()}}" title="Remove Parameter" style="margin-right: 10px;" class="btn btn-mini btn-default parameter_remove"><i class="fa fa-times"></i></a>
		</div>
	</h5>
	{{if type == "String"}}
       	<div class="control-group">
         <label class="control-label" for="command_patameter_name_index_{{:#getIndex()}}">Name</label>
          <div class="controls">
              <input id="command_patameter_name_index_{{:#getIndex()}}" type="text" value="{{:name}}">
          </div>
        </div>
        <div class="control-group">
         <label class="control-label" for="command_patameter_default_val_index_{{:#getIndex()}}">Default Value</label>
          <div class="controls">
              <input id="command_patameter_default_val_index_{{:#getIndex()}}" type="text" value="{{:default_value}}">
          </div>
        </div>
        <div class="control-group">
         <label class="control-label" for="command_patameter_validation_expression_index_{{:#getIndex()}}">Validation Expression</label>
          <div class="controls">
              <input id="command_patameter_validation_expression_index_{{:#getIndex()}}" type="text" value="{{:validation_expression}}">
          </div>
        </div>
        <div class="control-group">
         <label class="control-label" for="command_patameter_description_index_{{:#getIndex()}}">Description</label>
          <div class="controls">
              <input id="command_patameter_description_index_{{:#getIndex()}}" type="text" value="{{:description}}">
          </div>
        </div>
       {{else type == "Boolean"}}
       	<div class="control-group">
         <label class="control-label" for="command_patameter_name_index_{{:#getIndex()}}">Name</label>
          <div class="controls">
              <input id="command_patameter_name_index_{{:#getIndex()}}" type="text" value="{{:name}}">
          </div>
        </div>
        <div class="controls">
			<label class="checkbox">
				{{if default_value == "true" }}
				<input type="checkbox" id="command_patameter_default_val_index_{{:#getIndex()}}" checked>
				{{else}}
				<input type="checkbox" id="command_patameter_default_val_index_{{:#getIndex()}}">
				{{/if}}
				Default
            </label>
        </div>
        <br/>
        <div class="control-group">
         <label class="control-label" for="command_patameter_description_index_{{:#getIndex()}}">Description</label>
          <div class="controls">
              <input id="command_patameter_description_index_{{:#getIndex()}}" type="text" value="{{:description}}">
          </div>
        </div>
       {{else type == "Selection"}}
       	<div class="control-group">
         <label class="control-label" for="command_patameter_name_index_{{:#getIndex()}}">Name</label>
          <div class="controls">
              <input id="command_patameter_name_index_{{:#getIndex()}}" type="text" value="{{:name}}">
          </div>
        </div>
        <div class="control-group">
         <label class="control-label" for="command_patameter_default_val_index_{{:#getIndex()}}">Default Value</label>
          <div class="controls">
              <input id="command_patameter_default_val_index_{{:#getIndex()}}" type="text" value="{{:default_value}}">
          </div>
        </div>
        <div class="control-group">
         <label class="control-label" for="command_patameter_values_index_{{:#getIndex()}}">Values</label>
          <div class="controls">
          	<textarea id="command_patameter_values_index_{{:#getIndex()}}" rows="2" class="span5">{{:allowed_values}}</textarea>
          </div>
        </div>
        <div class="control-group">
         <label class="control-label" for="command_patameter_description_index_{{:#getIndex()}}">Description</label>
          <div class="controls">
              <input id="command_patameter_description_index_{{:#getIndex()}}" type="text" value="{{:description}}">
          </div>
        </div>
       {{/if}}
</div>
