
html {
     overflow-y: -moz-scrollbars-vertical;
     overflow-y: scroll;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    margin-left: -150px;
}

.ng-cloak {
    display: none;
}

div.appAlerts {
    position: fixed;
    top: 60px;
    right: 20px;
    z-index: 1200;
    width: 90%;
    max-width: 300px;
}

#toast-container > div.ng-enter,
#toast-container > div.ng-leave
{
    -webkit-transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
}

#toast-container > div.ng-enter.ng-enter-active,
#toast-container > div.ng-leave {
    opacity: 1;
}

#toast-container > div.ng-leave.ng-leave-active,
#toast-container > div.ng-enter {
    opacity: 0;
}

.success {
	color: green;
}

.disc {
	color: gray;
}

.error {
	color: red;
}


.info {
	color: blue;
}

.hidden {
	display: none;
}

.fixed_table {
	table-layout: fixed;
	word-wrap: break-word;
}

.deleteCommand { 
	cursor: pointer;
	display: inline-block;
}

.readonly_item {
	cursor: default !important;
}

.command_parameter {
	background-color: #F8FAFD;
	padding: 5px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	margin-top: 10px;
}

td, th {
  vertical-align: middle !important;
  text-align: center !important;
}

td.editable input{
  height: 28px;                 /* Makes it the same height as the tag selector. */
}

/* This stops the tooltips in the sidebar inheriting the font characteristics from the headings (small, grey, all caps). */
div.sidebar-nav div.popover {
 color: #000000;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  text-transform: none;
  font-size: 14px;
  font-weight: normal;
}

/* This cuts off wide node names in status view. */
form.form-inline fieldset div:first-child {
  overflow: hidden;
  /* text-overflow: ellipsis; */
  position: relative;
  max-height: 18px;
  max-height: 1.1rem;
  white-space: nowrap;
}

/* This applies a gradient fade over the node name (instead of an ellipsis) */
form.form-inline span.version_label:before {
  background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
  background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr='#00ffffff', endColorstr='#ffffff')"; /* For Internet Explorer 8 */
  bottom: 0;
  content: " ";
  display: block;
  left: 80%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}

.codeine_help {
	opacity: 0.25;
}

.codeine_help_content {
    font-weight: normal !important;
}

/* Makes the help icons line up with the text in the left panels */
div.sidebar-nav i.codeine_help {
	vertical-align: text-bottom; 
}
/* This fixes the pointer look on links in angular. see http://angular-ui.github.io/bootstrap*/
.nav, .pagination, .carousel, .panel-title a { 
	cursor: pointer; 
}
