.success {
	color: green;
}

.disc {
	color: gray;
}

.error {
	color: red;
}


.info {
	color: blue;
}

.hidden {
	display: none;
}

.deleteCommand { 
	cursor: pointer;
	display: inline-block;
}

.command_parameter {
	background-color: #F8FAFD;
	padding: 5px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	margin-top: 10px;
}