
html {
     overflow-y: -moz-scrollbars-vertical;
     overflow-y: scroll;
}

.success {
	color: green;
}

.disc {
	color: gray;
}

.error {
	color: red;
}


.info {
	color: blue;
}

.hidden {
	display: none;
}

.fixed_table {
	table-layout: fixed;
	word-wrap: break-word;
}

.deleteCommand { 
	cursor: pointer;
	display: inline-block;
}

.readonly_item {
	cursor: default !important;
}

.command_parameter {
	background-color: #F8FAFD;
	padding: 5px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	margin-top: 10px;
}