<div class="panel panel-default" ng-controller="tagsFilterCtrl as vm">
    <div class="panel-heading">
        <div class="panel-title">
            <span><i class="fa fa-tags"></i> Tags <help help-id="nodeTagsHelp"></help></span>
            <div class="pull-right">
                <button class="btn btn-default btn-xs" ng-show="vm.hasSelectedTags()" ng-click="vm.clearSelectedTags()" tooltip="Clear selected tags"><i class="fa fa-eraser"></i></button>
                <input bs-switch ng-model="vm.filterMode" type="checkbox"
                        switch-on-text="AND"
                        switch-off-text="OR"
                        switch-size="mini"
                        switch-off-color="primary"
                        ng-true-value="'&&'"
                        ng-false-value="'||'">
            </div>
        </div>
    </div>
    <div class="list-group">
        <a class="list-group-item" ng-hide="projectStatus.tag_info.length" ng-cloak><div class="text-center">No tags</div></a>
        <a three-state-list-group-item tag='tag' class="cursor_pointer" on-change="vm.updateTags()" href="#" style="padding-top: 3px; padding-bottom: 3px;" ng-repeat="tag in  projectStatus.tag_info | limitTo:vm.maxTags track by tag.immutable.name">
            <div class="row" tooltip="{{::tag.immutable.name.length > 25 ? tag.immutable.name : ''}}" tooltip-popup-delay="500" tooltip-placement="right">
                <div class="col-xs-9 fade_me">
                    <span>{{tag.immutable.name}}</span>
                </div>
                <div class="col-xs-3">
                    <span class="badge pull-right">{{tag.immutable.count}}</span>
                </div>
            </div>
        </a>
        <list-group-more-item items="projectStatus.tag_info" max-items="vm.maxTags"></list-group-more-item>
    </div>
</div>